<div class="post">
    <div class="content">
        <form class="update-post-form">
            <input type="text" id="title" value="{{title}}"/>
            <textarea id="content" rows="10" cols="50">{{content}}</textarea>
            <div class="post-options">
                <button type="click" class="save-post">Save</button>
                <button type="click" class="delete-post">Delete</button>
            </div>
        </form>
    </div>
</div>