<div class="post-info-dash">
    <h1>{{title}}</h1>
    <div class="post-options">
        <button type="click"><a href="posts/{{id}}">View</a></button>
        <button type="click"><a href="dashboard/edit/{{id}}">Edit</a></button>
    </div>
</div>