<ul>
    {{#if posts.length}}
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    {{else}}
        <i class="homepage-i">No posts yet.</i>
    {{/if}}
</ul>