<div class="input-wrapper">
    <form class="login-form">
        <h2>Login</h2>
        <label for="username-login"><h3>Username:</h3></label>
        <input type="text" id="username-login"/>

        <label for="password-login"><h3>Password:</h3></label>
        <input type="password" id="password-login"/>

        <button type="submit">Login</button>
    </form>
    <form class="signup-form">
        <h2>Sign Up</h2>
        <label for="username-signup"><h3>Username:</h3></label>
        <input type="text" id="username-signup"/>

        <label for="password-signup"><h3>Password:</h3></label>
        <input type="password" id="password-signup"/>

        <i>Password must be at least 7 characters.</i>

        <button type="submit">Sign Up</button>
    </form>
</div>
<script src="/javascript/login.js"></script>