<div class="input-wrapper">
    <form class="login-form">
        <h2>Login</h2>
        <label for="username-login"><h3>Username:</h3></label>
        <input type="text" id="username-login"/>

        <label for="password-login"><h3>Password:</h3></label>
        <input type="password" id="password-login"/>

        <button type="submit">Login</button>
    </form>
</div>
<script src="/javascript/login.js"></script>