<div class="input-wrapper">
    <form class="login-form">
        <h2>Login</h2>
        <label for="email-login"><h3>Email:</h3></label>
        <input type="text" id="email-login"/>

        <label for="password-login"><h3>Password:</h3></label>
        <input type="password" id="password-login"/>

        <button type="submit">Login</button>
    </form>
    <form class="signup-form">
        <h2>Sign Up</h2>
        <label for="username-signup"><h3>Username:</h3></label>
        <input type="text" id="username-signup"/>

        <label for="email-signup"><h3>Email:</h3></label>
        <input type="text" id="email-signup"/>

        <label for="password-signup"><h3>Password:</h3></label>
        <input type="password" id="password-signup"/>

        <button type="submit">Sign Up</button>
    </form>
</div>