* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    display: inline-flex;
    align-items: center;
    float: right;
}

nav > * {
    margin: 10px 0 10px 25px;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: white;
    background-color: black;
}

input {
    padding: 3px;
}

form {
    padding-left: 40px;
    margin: 40px;
}

form > button, button {
    border: none;

    border-radius: 5px;
    color: white;
    padding: 10px;
    display: block;
    background-color: black;
}

label > h3, button, .upper-dashboard > h4 {
    margin-top: 20px;
}

textarea {
    resize: none;
}

.post {
    width: 80%;
    margin: 0 auto;

    padding: 0 20px 20px 20px;
    margin-top: 30px;

    border-left: 4px solid;
}

.heading {
    padding: 10px 0;
}

.heading > h4 {
    padding: 5px 0;
} 

.login, .logout {
    padding: 15px 25px;
    border-radius: 6px;
    border-bottom: 3px solid rgb(53, 55, 182);
    background-color: rgb(26, 26, 26);
}

.logout {
    border-color: rgb(204, 29, 29);
}

.input-wrapper {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.login-form, .new-post-wrapper, .post-info-dash {
    border-left: 4px solid rgb(0, 0, 0);
}

.dashboard-wrapper {
    width: 80%;
    margin: 0 auto;
}

.upper-dashboard {
    padding: 20px 0;
    border-bottom: 2px solid black;
}

.new-post-wrapper {
    margin: 0 auto;
    width: 60%;
}

.post-info-dash {
    padding-left: 15px;
    margin: 20px 0;
}

.post-options {
    display: flex;
}

.post-options > button {
    margin-right: 10px;
}